body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #1f2937;
}

.header,
.banner {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  align-items: center;
  padding: 10px 200px 60px 200px;
  justify-content: space-between;
  min-width: 800px;
}

.header-logo {
  font-size: 24px;
  font-weight: bolder;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header ul {
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.banner .content {
  padding: 10px;
  max-width: 500px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.banner .content .title {
  font-size: 48px;
  font-weight: bolder;
}

.banner .content .subtext {
  color: #e5e7eb;
}

.details,
.sign-up {
  background-color: #3882f6;
  border-radius: 10px;
  color: #e5e7eb;
  width: max-content;
  height: max-content;
  min-width: 140px;
  padding: 8px 18px;
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
  border-style: solid;
}

.banner-image {
  max-width: 500px;
  min-width: 400px;
  width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery .title {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  padding: 48px 0;
}

.gallery ul {
  gap: 50px;
  padding: 48px 0;
}

.gallery li {
  width: 150px;
  height: auto;
  text-align: center;
}

.gallery img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}
